BasedOnStyle: GNU
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Allman
IndentCaseLabels: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SortIncludes: true
IndentGotoLabels: true
IndentCaseBlocks: true
InsertNewlineAtEOF: true
IndentPPDirectives: BeforeHash
SpaceAfterCStyleCast: true
